<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ToolCabinetEntities" connectionString="metadata=res://*/ToolCabinetModel.csdl|res://*/ToolCabinetModel.ssdl|res://*/ToolCabinetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ToolCabinet;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ToolCabinetEntitiesSrv" connectionString="metadata=res://*/ToolCabinetModel.csdl|res://*/ToolCabinetModel.ssdl|res://*/ToolCabinetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.200;initial catalog=DEER_SYDCD;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net>
    <appender name="rollingFileSys" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMM/&quot;SysLog&quot;MMdd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="rollingFileSys"/>
    </root>
  </log4net>

  <appSettings>
    <add key="ICReaderType" value="USB"/>
    <add key="ICReaderPort" value="100"/>
    <add key="ICReaderBaudRate" value="115200"/>
    <add key="PLCCom" value="COM12"/>
    <add key="DoorWaitTime" value="5"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>